<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Page d'erreur</title>
<link rel="stylesheet" type="text/css"
	href="/ufcm/src/main/resources/static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<br />
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>Username or Password was incorrect</h2>
			</div>
			<br />
		</div>
	</div>
	<div class="mx-4 row">
		<div class="col-5">
			<div class="text-left">
				<a th:href="@{login}" class="my-3 btn btn-primary"
					style="width: 100%;">Return</a>
			</div>
		</div>
	</div>
</body>
</html>